/* COMMON */
body {
    overflow-x: hidden;
}

section {
    padding: 50px 0;
}

.card {
    border: none;
}

.card-img-overlay h2, .card-img-overlay p {
    padding: 15px 0;
}

.ms_btn_buy {
    background-color: orangered;
    width: 120px;
    border: 1px solid orangered;
}

/* .ms_btn_buy:hover {
    background-color: orangered;
    box-shadow: red;
    border: 1px solid orangered;
} */

/* Regole navbar */
#ms_navbar_top {
    height: 40px;
    background-color: black;
}

#sony_logo {
    width: 80px;
    margin-right: 10px;
}

.ms_lens {
    width: 30px;
}

.dropdown-toggle::after {
    display: none;
}

.ms_arrow_down {
    width: 10px;
    margin: 0 5px;
}

.dropdown-menu.show {
    display: flex;
}

li.nav-item.active:active {
    border: 2px solid orange;
}

/* Regole jumbotron */
#jumbotron .container-fluid {
    height: 100vh;
    background-image: url(img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}

#jumbotron .container-fluid img {
    width: 60%;
}

#jumbotron .row .col-12 {
    padding: 50px 0;
}

#ms_jumbotron_bottom {
    padding-top: 30px;
}

#ms_jumbotron_bottom img {
    border-radius: 15px;
    transition: transform 1s ease;
}

#ms_jumbotron_bottom img:hover {
    border: 2px solid blue;
    border-radius: 15px;
    padding: 3px;
    transform: translateY(-15px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.ms_banner_new {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.ms_banner_new img {
    width: 300px;
}

.ms_banner_new .row .col-12 {
    padding: 50px 0;
}

.ms_gallery_new {
    background-color: #1f1f1f;
}

.ms_gallery_new img {
    border-radius: 15px;
}

.ms_gallery_new .card {
    background-color: #1f1f1f;
}

#playstation-plus {
    background-color: #bebcbb;
    padding-bottom: 20px;
}

#ps_plus_logo {
    width: 300px;
}

#ps-now {
    background-color: #161c3b;
}

#ps_now_logo {
    width: 300px;
}

footer {
    background-color: #00439c;
}

.ms_link_footer {
    list-style-type: none;
}

.ms_link_footer li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.globe_logo {
    width: 15px;
}

.sie_logo {
    width: 150px;
}

.ps-logo {
    width: 150px;
    filter: brightness(0) invert(1);
}

.ms_gallery_new {
    padding-top: 30px;
}

#ms_gallery_product img {
    filter: grayscale(100%);
    cursor: pointer;
}

#ms_gallery_product img:hover {
    filter: none;
}

.ms_border_active {
    width: 100%;
    border: 1px solid transparent;
}

#ms_gallery_product .card:hover .ms_border_active {
    border-color: #4095da;
}